/*              DOCUMENT SETTINGS              */
/*                                             */
/*                                             */
/*                                             */
/*                                             */
:root {
  /* ###### COLOR VARIABLES #######*/
  --navbar-bg: rgb(54, 190, 231);
  --primary-text-color: #ffffff;
  --navbar-border: transparent;
  --secondary-text-color: rgb(233, 88, 127);

  /* ###### FONT SZIE VARIABLES #######*/
  --default-font-size: 1.6rem;
  --heading-primary: 7rem;
  --heading-primary--big: 8rem;
  --heading-primary--medium: 5rem;
  --heading-secondary--medium: 3rem;
  --navbar-font-size: 2rem;

  /* GRADIENTS */
  --footer-bg: #111;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* SHADOWS*/
.text-shadow--1 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.text-shadow--3 {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
/* SHADOWS*/

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}
/*                                             */
/*                                             */
/*                                             */
/*                                             */
/*              DOCUMENT END                   */

/*              NAVBAR                         */
/*                                             */
/*                                             */
/*                                             */
/*                                             */
.navbar {
  border: 1px solid var(--navbar-border);
  font-size: var(--navbar-font-size);
  background-color: var(--navbar-bg);
  color: var(--primary-text-color);
}
.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar__items__item {
  padding: 0 1.2rem 0 1.2rem;
}

.navbar__items__item__link {
  padding: 0 0 1rem 0;
  text-decoration: none;
  color: inherit;
  border-bottom: 0.2rem solid transparent;
}

#branding.navbar__items__item__link {
  padding: 0;
  border: 0;
}

.navbar__items__item__link:hover {
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

#branding-img {
  height: 6rem;
  width: auto;
  margin: 0.5rem;
}

.navbar__items__item--inverse {
  border: 1px solid white;
  padding: 1.2rem 1.2rem;
  background-color: white;
  color: var(--secondary-text-color);
}

/*                                             */
/*                                             */
/*                                             */
/*                                             */
/*               NAVBAR  END                   */

/*========= HEADINGS   ======    */
.heading-primary {
  text-transform: uppercase;
  text-align: center;
}

.heading-primary--big {
  font-size: var(--heading-primary--big);
  color: var(--primary-text-color);
}
.heading-secondary--medium {
  color: var(--secondary-text-color);
  font-size: var(--heading-secondary--medium);
}
/*========= HEADINGS ======    */

/*              SECTIONS                       */
/*                                             */

/*========= SECTION FESTIVAL PREVIEW ======    */

.section-festival-preview {
  border: 1px solid rend;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-festival-preview__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;
}

.section-festival-preview__bg-video__content {
  height: 110vh;
  width: 100%;
  object-fit: cover;
}

.section-festival-preview__information {
  text-align: center;
}

.section-festival-preview__information__social-links {
  margin: 3rem;
}

.section-festival-preview__information__social-links__link {
  margin: 1rem;
  list-style-type: none;
}
.section-festival-preview__information__social-links__link,
.section-festival-preview__information__social-links__link:hover,
.section-festival-preview__information__social-links__link:visited,
.section-festival-preview__information__social-links__link:focus {
  text-decoration: none;
}

.section-festival-preview__information__social-links__link__img {
  height: 5rem;
  width: auto;
}
/*====== SECTION FESTIVAL PREVIEW END =====    */

/*====== SECTION TICKETS PREVIEW      =====    */
.section-tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.section-tickets__order-tickets {
  width: 50vw;
  border: 1px solid gainsboro;
  border-radius: 2rem 1rem;
}
/*====== SECTION TICKETS PREVIEW END =====    */

/*                                             */
/*                                             */
/*                                             */
/*                                             */
/*               SECTIONS  END                 */

/*====== FOOTER =====    */
.footer {
  padding: 2rem;
  background: var(--footer-bg);
  font-size: var(--default-font-size);
  color: var(--primary-text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.footer__nav {
  margin: 1rem 1.5rem 1rem 1.5rem;
}

.footer__nav__nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer__nav__nav-links__link-container {
  padding: 1rem;
}
.footer__nav__nav-links__link-container__link,
.footer__nav__nav-links__link-container__link:visited {
  text-decoration: none;
  color: inherit;
}
.footer__nav__nav-links__link-container__link:hover {
  border-bottom: 2px solid var(--primary-text-color);
}

/*                                             */
/*                                             */
/*                                             */
/*                                             */
/*               FOOTER  END                 */

.divider {
  width: 100%;
  margin: 2rem;
}

/* <------FORM-------> */
form {
  font-size: var(--default-font-size);
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 1rem 0 1rem 0;
}

.form-label {
  padding: 0.1rem;
  width: 100%;
  display: block;
}

.form-input {
  height: 3rem;
  display: block;
  width: 100%;
}
.form-group-other {
  text-align: right;
  padding: 1.5rem;
}
/* <------FORM-------> */
/* <------BUTTON-------> */
.button {
  padding: 1rem;
  background-color: dodgerblue;
  color: white;
  border: 0;
}
/* <------BUTTON-------> */

/* <--------UTILS--------> */
.center {
  text-align: center;
}
.pd-top-2 {
  padding: 2rem;
}

.bd-bottom-2 {
  border-bottom: 0.2rem solid var(--secondary-text-color);
}
